<div class="jumbotron">
    <h1 class="display-4">TypeScript App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid culpa dolorem velit. Ratione qui, id vel eum culpa distinctio illum voluptatibus necessitatibus omnis facere odit debitis accusamus consequuntur ad dignissimos.</p>
    <a href="#" class="btn btn-primary btn-lg">Task List</a>
</div>